<div class="flex-container">
  <div class="flex-box" *ngFor="let game of gamelist">
    <div class="flex-box-thumb">
      <img src="../../../../assets/{{game.id}}.jpg" height="250px" width="350px">
      <div class="flex-box-infor">
          <div class="flex-box-infor-name"><a href="game-content/{{game.name}}/{{game.id}}"><img src={{game_name_icon}} height="25" width="25"><h3>{{game.name}}</h3></a></div>
          <div class="flex-box-infor-paid" *ngIf="game.free==0;else type"><img src={{free_paid_icon}} height="20" width="30"><span>{{notpaid}}</span></div>
          <ng-template #type><div class="flex-box-infor-paid"><img src={{free_paid_icon}} height="20" width="30"><span>{{paid}}</span></div></ng-template>
          <div class="flex-box-infor-author"><p>Người đăng :{{game.user}}</p></div>
          <div class="flex-box-infor-date"><p>Ngày ra: {{game.release_date}}</p></div>
        </div>
    </div>
  </div>
</div>