#form-signup
{
    width: 40%;
    background: gainsboro;
    margin : 0 auto;
    position: relative;
}

#id input
{
    width: 60%;
    height: 30px;
    margin: 2% 0px 0px 20%;
    position: relative; 
}

#password input
{
    width: 60%;
    height: 30px;
    margin: 2% 0px 0px 20%;
    position: relative; 
}

#name input
{
    width: 60%;
    height: 30px;
    margin: 2% 0px 0px 20%;
    position: relative; 
}

#mail input
{
    width: 60%;
    height: 30px;
    margin: 2% 0px 0px 20%;
    position: relative; 
}

#phone input
{
    width: 60%;
    height: 30px;
    margin: 2% 0px 2% 20%;
    position: relative; 
}

#signup-reset-button button
{
    width: 20%;
    height: 40px;
    margin: 0px 0px 2% 40%;
    position: relative; 
}