.contact{
    width:95%;
    margin:0 auto;
}
.contact table{
    width:100%;
}
.contact h2{
    text-align: center;
}
.contact h3{text-align: center}
.contact table td:first-child{
    min-width: 100px;
    max-width: 250px;
    width: 25%;
    text-align: right;
    font-weight:bold;
}
.contact input[type=text]{
    min-width: 200px;
    height:30px;
    width:75%;
}
.contact input[type=submit]{
    width:200px;height:50px;
}
.contact textarea{
    resize: none;
    width:75%;
    height:200px;
}