
<div class='foot'>
    
  <div class='top'>
      <br style='clear:both;height:50px;'>
      <div class='join-facebook'>
          <h2>FANPAGE</h2>
          <p>Hãy tham gia cộng đồng:</p>
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWelovegame-411498689287602%2F&tabs=timeline&width=400px&height=200px&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400px" height="200px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
      <div class='detail-website'>
          <h3>Lượt truy cập:</h3>
          <p id='detail-website-content'>0</p>
      </div>
  </div>
  
  <div class='left'>
      <br style='clear:both;height:50px;'>
      Copyright &copy; 2018 All Right Reserved by Welovegame<br/>
      <a href=#>Term of Use</a>/<a href=#>Privacy Policy</a>
  </div>
  <div class='right'>
      <br style='clear:both;height:50px;'>
      <a class='facebook' href='https://www.facebook.com/Welovegame-411498689287602/' atl='join facebook'>f</a>
      <a class='google' href='https://www.facebook.com/Welovegame-411498689287602/'>G+</a>
      <br><br>
      &#9993;nguyenduythinh.it@outlook.com <br>
      &#x260F;(+84)01212812305
  </div>
  <br style='clear:both'>
</div>

