<div class='top'>
  <app-home-slide></app-home-slide>
</div>
<div style='clear:both;text-align:center;'>
  <h1 style='margin: 20px auto;'>"TÔI LÀ AI? , ĐÂY LÀ ĐÂU ??"</h1>
</div>
<div class='bottom'>
  <ul>
    <li><p>WELOVEGAME LÀ GÌ?</p>
      Là một trang web được phát triển bởi 2 thằng sinh viên IT với mục đích là nghiên cứu một đề tài, một công nghệ mới của website là Angular là Nodejs.
    </li>
    <li><p>WELOVEGAME LÀM GÌ?</p>
      Trang web phát triển trên mục đích chia sẽ thông tin về game, những game sẽ ra đang ra vã đã ra. Chia sẽ game crack, game free, game thất lạc ,game huyền thoại 7 màu.
    </li>
    <li><p>BẠN LÀM GÌ Ở WELOVEGAME</p>
      Nếu có nhu cầu tìm kiếm game, thông tin game, hoặc không có tiền để mua game chính hãng hãy tìm đến chúng tôi, chúng tôi sẽ cung cấp mọi game mà bạn cần.
    </li>
  </ul>
  <br style='clear:both'>
</div>
