.flexbox-containter-row
{
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
}

.admin-1 {
    background-color: #f1f1f1;
    width: 99%;
    margin: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding : 10px 10px;
    
  }
  .admin-2 {
    background-color: #f1f1f1;
    width: 99%;
    margin: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding : 10px 10px;
    
  } 

.admin-column-1
{
    background-color: darkgoldenrod;
    width: 100%;
    display: flex;
}
.admin-column-2
{
    background-color: darkgoldenrod;
    width: 100%;
    display: flex;
}