#form-login
{
    width: 40%;
    background: gainsboro;
    margin : 0 auto;
    position: relative;
}

#id input
{
    width: 60%;
    height: 50px;
    margin: 15% 0px 10% 20%;
    position: relative; 
}

#password input
{
    width: 60%;
    height: 50px;
    margin: 0px 0px 5% 20%;
    position: relative; 
}

#login-signup-button button
{
    width: 20%;
    height: 40px;
    margin: 0px 0px 2% 40%;
    position: relative; 
}


