.flexbox-containter-row
{
    display: flex;
    flex-direction: column;
}

.admin-1 {
    background-color: #f1f1f1;
    width: 99%;
    margin: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding : 10px 10px;
    
  }
  .admin-2 {
    background-color: #f1f1f1;
    width: 99%;
    margin: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding : 10px 10px;
    
  } 

.admin-column-1
{
    background-color:beige;
    width: 100%;
    display: flex;
}
.admin-column-2
{
    background-color: beige;
    width: 100%;
    display: flex;
}

.admin-name
{
    width: 200px;
    text-align: center;
    line-height: 30px;
    margin-top:10px;
}
.admin-name h4
{
    text-align: center;
    color: firebrick;
    font-style:italic;
}
.admin-class
{
    width: 200px;
    text-align: center;
    margin-top:10px;
    line-height: 30px;
}
.admin-class h4
{
    text-align: center;
    color: firebrick;
    font-style:italic;
}
.admin-work
{
    width: 400px;
    text-align: center;
    margin-top:10px;
    line-height: 30px;
}
.admin-work h4
{
    text-align: center;
    color: firebrick;
    font-style:italic;
}

