<div class="admin-infor"><h3>THÔNG TIN ADMIN + PHÂN CÔNG CÔNG VIỆC + BÁO CÁO(<a href="assets/baocao.doc">Link</a>)</h3></div>
<div class="flexbox-containter-row">
    <div class="admin-1">
      <img class="admin-thinh" src={{thinh}} height="250px" width="300px">
      <div class="admin-column-1" >
        <span class="admin-name"><h4>Họ tên</h4>Nguyễn Duy Thịnh</span>
        <span class="admin-class"><h4>Lớp</h4>D14_TH05</span>
        <span class="admin-work"><h4> Công việc :</h4>Front-End(Sub) Back-End(Main) , Thiết kế Database , thiết lập RouterLink cho các components , làm báo cáo</span>
      </div>
    </div>
    <div class="admin-2">
        <img class="admin-quy" src={{quy}} height="250px" width="300px">
        <div class="admin-column-2">
          <span class="admin-name"><h4>Họ tên</h4>Nguyễn Minh Quý</span>
          <span class="admin-class"><h4>Lớp</h4>D14_TH05</span>
          <span class="admin-work"><h4> Công việc :</h4>Front-End(Main) Back-End(Sub)  , Kết nối database và truy xuất dữ liệu đưa dữ liệu lên website, Thiết kế danh sách games ,truyền và lấy param từ router , làm báo cáo </span>
        </div>
    </div>
  </div>