<div id="information-box">
  <div class="information-box-main">
    <h2 [style.color]="'red'">We Love Game</h2><p>là website share game miễn phí Việt Nam ra mắt vào năm 2018</p>
    <p>Với mục đích phát triển tiêu chí chia sẻ các game miễn phí , game đã crack (giúp bạn trãi nghiệm), 
      và game có thể mua trên shop để bạn có thời gian trãi nghiệm và thư giãn</p>
  </div>
  <div class="information-box-image">
    <img class="thinh" src={{thinh}} >
    <img class="quy" src={{quy}} >
  </div>
</div>
