<div class="admin-infor"><h3>THÔNG TIN ADMIN</h3></div>
<div class="flexbox-containter-row">
    <div class="admin-1">
      <img class="admin-thinh" src={{thinh}} height="250px" width="300px">
      <div class="admin-column-1" style="display:none;">
        <span><h4>Họ tên</h4>Nguyễn Duy Thịnh</span>
      </div>
    </div>
    <div class="admin-2">
        <img class="admin-quy" src={{quy}} height="250px" width="300px">
        <div class="admin-column-2" style="display:none;">
            1
          </div>
    </div>
  </div>