
<div id="item-column"  >
  <div class="item-row"  >
    <div class="item-span" *ngFor="let game of gamelist">
      <div class="item-span-thumb" >
          <img class="item-span-infor-img" src="../../../../assets/{{game.id}}.jpg"  height="250" width="350">
      </div>
      <div class="item-span-infor">
        <div class="item-span-infor-title">
          <a routerLink='/game-content/{{game.name}}/{{game.id}}'><h3 class="item-span-infor-title-h3">{{game.name}}</h3></a>
        </div>
        <div class="item-span-infor-date">
          <h4 class="item-span-infor-cata">{{game.free}}</h4>
          <span class="item-span-infor-date-release">Ngày ra mắt : {{game.release_date}} </span>
        </div>
         
      </div>
    </div>
  </div>

</div>