#item-column
{
    width: 100%;
    height:100%;
    background:whitesmoke;

}
.item-row
{
    width: 100%;
    height: 100%;
    background:black;
}
.item-span
{
    height: 250px;
    width: 20%;
    float:left;
}
.item-row img
{
    position: absolute;

}

.item-span-infor
{
    position: relative;
    z-index: 1;
    top:180px;
}

.item-span-infor-title
{
    position: relative;
    background: rgba(247,241,241,0.4);
    width: 300px;
}

.item-span-infor h3
{   
    color: black;
    margin:0 20px;
}
.item-span-infor h3:hover
{   
    color:bisque;
    margin:0 20px;
}
.item-span-infor a
{
    text-decoration: none;
}

.item-span-infor-cata
{
    color: white;
}

.item-span-infor-date-release
{
    color:yellow;
}

@media only screen and (max-width:900px)
{
    .item-span
    {   
        height: 250px;
        width: 100%;
        margin-left:100px;
    }
}
