<div class="game-content-box">
  <div class="game-content-box-thumb">
      <img  src="../../../assets/{{game.id}}.jpg">
    </div>
    <div class="game-content-box-infor">
   <h3 class="game-content-box-infor-name">{{game.name}}</h3> 
   <div class="game-content-box-infor-content"> <p>Nội dung:</p>  {{game.content}} </div>
  <span class="game-content-box-infor-author"><p>Người đăng :</p> {{game.user}}</span>
   <p class="game-content-box-infor-date"><p>Ngày ra mắt:</p> {{game.release_date}}
   <p class="game-content-box-infor-link"> {{link.title}} : <a href="{{link.link}}">{{link.link}}</a></p>
  </div>
</div>